//Inicio section main de las paginas


/*Inicio Main index*/


/* Carousel */
#carouselExampleFade{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    margin-top: 10px;
}

.img-caro{
    height: 400px;
}

/* Inicio de Section video*/
#video-main{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* Fin section video */

/* Inicio section Card */
#card{
    margin:30px 1px 0px;
}
.imagen-anteojos, .imagen-lentes{
    height: 300px;
    }

.card-title{
    color: rgb(92, 0, 0);
    margin-top: 10px;
}
/*Fin Main index*/

/* ========================= */

/*Inicio Main Productos*/
.titulo-productos, .subtitulo-producto{
    color: rgb(92, 0, 0);
    margin:30px 10px 30px;
}

.color-tipos, .tipos-anteojos, .tipos-lentes{
    color: black;
    margin-top: 2px;
}

#tabla-productos{
    margin:30px 10px 0px;
}
/*Fin Main Productos*/

/* ========================= */

/*Inicio Main Historia*/

#subtitulo-historia{
    margin-left: 5px;
}

#main-optica, #main-oftalmologia{
    width: 95%;
    margin-bottom: 30px;
    margin-left: 5px;
}

#main-optica{
    margin-top: 20px;
}

.titulo-producto{
    margin-left: 12px;
}

.color-historia{
    color: rgb(92, 0, 0);
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 12px;
}

.historia-color{
    color: black;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 12px;
}
/*Fin Main Historia*/

/* ========================= */

/*Inicio Main Sucursales*/
#sucursales-main{
    width: 80%;
    margin:10px;
}

.subtitulo-historia{
    color: rgb(92, 0, 0);
    margin: 5px;
    text-align: center;
}

.historia-color{
    color: black;
    margin: 10px;
}


#mapa-tabla div{
    display: inline-block;
    margin-top: 20px;
}

/*Fin Main Sucursales*/

/* ========================= */

/*Inicio Main Contacto*/
#subtituloContacto{
    margin: 10px 3px 15px;
}
#formulario{
    margin-left: 3px;
    margin-right: 2px;
    margin-top: 30px;
}
/*Fin Main Contacto*/

/* ========================= */

/*Inicio Main Tienda*/
#titulo-tienda{
    text-align: center;
    margin-bottom: 20px ;
}

#fila-1, #fila-2, #fila-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
#fila-1 div, #fila-2 div, #fila-3 div{
    margin:6px;
    padding: 6px;
}

#fila-1 div:hover, #fila-2 div:hover, #fila-3 div:hover{
    margin: 6px;
    padding: 6px;
    transform: scale(1.1);
}
#fila-1 div a, #fila-2 div a, #fila-3 div a{
    display: flex;
    justify-content: center;
    border: solid 4px black ;
    border-radius: 5px;
    background-color: #fce300;
    color:rgb(92, 0, 0);
    text-decoration: none;
}
.receta, .sol, .lente-contacto{
    width: 395px;
}
/*Fin Main Tienda*/
