//Section media querie de las paginas


/* Media querie */



@media only screen and (max-width: 1024px){
    .imagen-lentes{
        height: 200px;
    }
    
    .imagen-anteojos{
        height: 200px;
    }

    #main-video{
        display: flex;
        justify-content: center;
        width: 25%;
    }

    #titulo-secundario{
        text-align: center;
    }

    #titulo-primero{
        text-align: center;
    }

    .receta, .sol, .lente-contacto{
        width: 250px;
    }

}

/* =================== */

@media only screen and (max-width: 768px){
    .imagen-lentes{
        height: 150px;
    }
    .imagen-anteojos{
        height: 150px;
    }
    #main-video{
        display: flex;
        justify-content: center;
        width: 25%;
    }

    #titulo-secundario{
        text-align: center;
    }

    #titulo-primero{
        text-align: center;
    }

    .receta, .sol, .lente-contacto{
        width: 200px;
    }

    .mapa iframe{
        max-width: 45rem;
        align-items: center;
        justify-items: center;
    }
    .tabla-sucursales{
        max-width: 45rem;
        align-items: center;
        justify-items: center;
    }
}
/* ==================== */

@media only screen and (max-width: 640px){

    .imagen-lentes{
        height: 100px;
    }
    
    .imagen-anteojos{
        height: 100px;
    }

    #main-video{
        display: flex;
        justify-content: center;;
        width: 25%;
    }
    
    #titulo-secundario{
        text-align: center;
    }

    #titulo-primero{
        text-align: center;
    }

    .receta, .sol, .lente-contacto{
        width: 150px;
    }

    .mapa iframe{
        max-width: 25rem;
    }
}

@media only screen and (max-width: 480px){
    .imagen-lentes{
    height: 100px;
}

.imagen-anteojos{
    height: 100px;
}

#main-video{
    display: flex;
    justify-content: center;;
    width: 25%;
}

#titulo-secundario{
    text-align: center;
}

#titulo-primero{
    text-align: center;
}

.receta, .sol, .lente-contacto{
    width: 100px;
}

.mapa iframe{
    max-width: 24rem;
}

}

@media only screen and (max-width: 375px) {
    .imagen-lentes{
        height: 100px;
    }
    
    .imagen-anteojos{
        height: 100px;
    }
    
    #main-video{
        display: flex;
        justify-content: center;;
        width: 25%;
    }
    
    #titulo-secundario{
        text-align: center;
    }
    
    #titulo-primero{
        text-align: center;
    }
    
    .receta, .sol, .lente-contacto{
        width: 100px;
    }

    .mapa iframe{
        max-width: 15rem;
    }

    .tabla-sucursales{
        margin-right: 3px;
    }

}
/* Fin media querie */
/* ================================================*/